

</br>
</br>

<table class="fstyle" align="center">
<tr>
<th>Forum List</th>

<th>Description</th>
<th>Last Post</th>

<th>Topics</th>

<th>Posts</th>

 

 </tr>
 

   <% for forum in @forums %> 
   
   
    
  <tr> 
  
  
       
  <td ><%= link_to h(forum.name), forum_path(forum.id) %></td>
  
  <td><%=forum.description %></td> 
  
  <td><% if forum.most_recent_post %><%= distance_of_time_in_words_to_now forum.most_recent_post.updated_at %> ago by 
  
  <%=forum.most_recent_post.user.username %> <% else %>no posts<%end%></td>  
  
  <td><%=forum.topics.size %></td>        
  
  <td><%= forum.number_posts_per_forum %></td>   
   
  </tr>
  
  
<% end %>



</table>