


<table cellspacing="10" border="0px" >
<tr>
<th class="name-description" ALIGN=LEFT>Forum List</th>

<th class="lastpost" ALIGN=MIDDLE>Last Post</th>

<th class="topics_num" ALIGN=MIDDLE>Topics</th>

<th class="post_num" ALIGN=MIDDLE>Posts</th>

 </tr>
 
   <% for forum in @forums %> 
    
  <tr> 
  
  
     
  <td ><FONT FACE="Geneva, Arial" SIZE=2>
  
  <%= link_to h(forum.name), forum_path(forum.id) %><br><%=forum.description %><br></FONT></td> 
  
  <td class="lastpost" WIDTH=250 ALIGN="middle"><FONT FACE="Geneva, Arial" SIZE=2><% if forum.most_recent_post %>
  
  <%= distance_of_time_in_words_to_now forum.most_recent_post.updated_at %> ago by 
  
  <%=forum.most_recent_post.user.login %> <% else %>no posts<%end%></FONT></td>  
  
  <td class="topics_num" WIDTH=250 ALIGN="middle"><FONT FACE="Geneva, Arial" SIZE=2><%=forum.topics.size %></FONT></td>     
   
  <td class="post_num" WIDTH=250 ALIGN="middle" ><FONT FACE="Geneva, Arial" SIZE=2><%= forum.number_posts_per_forum %></FONT></td> 
  
  
  
  </tr>
  
  
  
<% end %>



</table>






