<!DOCTYPE html>
<html>
<head>
	<title>Example Tabs</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		
	<%= stylesheet_link_tag :all %>      
	 <%= javascript_include_tag :defaults %>
          <%= csrf_meta_tag %>	
	<%= stylesheet_link_tag "basic.css", "tabs.css" %> 
</head>

<body>
	<font size="6" color= #ffffff face="Arial" > <%= @current_user.coname.upcase! %> </font>
	<div id="header">
	<ul id="primary">
		<li><a href="index.html">Inbox</a></li>
		<li><a href="about.html">Company Info.</a></li>
		<li><span>Blog</span>
			<ul id="secondary">
				<li><a href="#">Current Clients</a></li>
				<li><a href="#">Case Studies</a></li>
				<li><a href="#">Publications</a></li>
				<li><a href="#">Reports</a></li>
				<li><a href="#">Whitepapers</a></li>
			</ul>
		</li>
		<li><a href="contact.html">Contact Us</a></li>
	</ul>
	</div>
	<div id="main">
		<div id="contents">
			
			<%= yield %>
			
		</div>
	</div>
</body>
</html>
