<div id="blogoutput">

<h1>Company's Blog/Discussion</h1>
</br>
<table class="ex1" border="1">
  <tr>
    <th COLSPAN=2>Title</th>
    <th COLSPAN=4>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blog_posts.each do |blog_post| %>
  <tr>
    <td COLSPAN=2><%= blog_post.title %></td>
    <td COLSPAN=4><%= blog_post.body %></td>
    <td><%= link_to 'Show', blog_post %></td>
    <td><%= link_to 'Edit', edit_blog_post_path(blog_post) %></td>
    <td><%= link_to 'Destroy', blog_post, :confirm => 'Are you sure?', :method => :delete %></td>
    
  </tr>
<% end %>
</table>
</br>
</br>
<%= link_to 'New post', new_blog_post_path %>

</div>




<div id="blogimage">

  <p>

 <%= "hopes this works" %>
 
 </p>

</div>

