
<!DOCTYPE html>
<html>
<head>


<script type="text/javascript">
function showPreview()
{
var s=document.getElementById('comment_body').value;
document.getElementById('preview').innerHTML=s;
}
</script>
</head>

<body>


<p>
  <b>Title:</b>
  <%=h @blog_post.title %>
  <b>Body:</b>
  <%=h @blog_post.body %>
</p>

<h2>Comments</h2>

<% @blog_post.comments.each do |c| %>
  <p>
    <b><%=h c.commenter.login %> said:</b><br />
    <%= time_ago_in_words(c.created_at) %> ago
  </p>

  <p>
    <%=h c.body %>
  </p>
<% end %>

 

<%= form_for [@blog_post, Comment.new] do |f| %>
  <p>

   
   
 <div class="field">
    <%= f.label :comments %><br/>
    <div id="preview"> </div> <br/>
   <%= f.text_area :body %>
    
  
    </div>
  
  
    <%= f.submit "Add Comment" %>
  
   <button type="button"onclick="javascript:showPreview()"  >Preview</button>
</p>
    
  
<% end %>

</body>
</html>

