<%= form_for(@company) do |f| %>

<div id="companies" >



<br/>

<div id="cleft">
  
<div class="field">
    <%= f.label :"First Name" %><br />
    <%= f.text_field :fname %>
  </div>
   
   
   <br/>
  
    <div class="field">
    <%= f.label :"Username"%><br />
    <%= f.text_field :uname %>
  </div>
  
  <br/>
  
 <div class="field">
    <%= f.label :"Password:"%><br />
    <%= f.text_field :uname %>
  </div>
  
   
   
   <br/>
  
    <div class="field">
    <%= f.label :"Company"%><br />
    <%= f.text_field :cname %>
  </div>
  
  <br/>
  
    <div class="field">
    <%= f.label :"Address:"%><br />
     <%= f.text_area :caddress, :rows=>"3" %>
  </div>
  
  
  

  
   <div class="field">
    <%= f.label :"State"%><br />
    <%= collection_select(:company, :cstate, @comstate, :id,:cstate) %>
  </div>
  
  <br/>
  
    <div class="field">
    <%= f.label :"ZIP Code"%><br />
    <%= f.text_field :czip %>
  </div>
  
  
  
  
  <br/>
  
   <div class="field">
    <%= f.label :"Website"%><br />
    <%= f.text_field :cwebsite %>
  </div>
  
  
  
  
  <br/>
  
  <div class="field">
    <%= f.label :"Contracting Experience"%><br />
    <%= f.text_field :cexp %>
  </div>

   

  </div>
  
  
  
  <div id="cright">
  
  <div class="field">
    <%= f.label :"Last Name"%><br />
    <%= f.text_field :lname %>
  </div> 
  
   <br/>
   
    <div class="field">
    <%= f.label :"Email"%><br />
    <%= f.text_field :cemail %>
  </div>
   
   
  <br/>

  
  
  
    <div class="field">
    <%= f.label :"Re-type Password"%><br />
    <%= f.text_field :cname %>
  </div>
  
  
  
  
    
  <br/>
  
     <div class="field">
    <%= f.label :"Phone Number"%><br/>
    <%= f.text_field :cphone%>
  </div>
  

  
    

  
  <div class="field">
   <p>
    <%= "Set-Aside Interest(s):" %> <br/><br/>
   <%= check_box_tag 'btypes_ids[]', 1%>
   <%= "Small Business" =%> &nbsp
       <%= check_box_tag 'btypes_ids[]', 2%>
	<%= "Competitive 8A" %> <br/> <br/>
      <%= check_box_tag 'btypes_ids[]', 3%>
      <%= "Women-Owned" %> &nbsp 
     <%= check_box_tag 'btypes_ids[]', 4%>
     <%= "HUB Zone" %> <br/><br/>
        <%= check_box_tag 'btypes_ids[]', 5%>
     <%= "Veteran-Owned" %> &nbsp
       <%= check_box_tag 'btypes_ids[]', 6%>
     <%= "HBCU" %>
     
    

  
  </div> 

  
  
  
  
  
    <div class="field">
    <%= f.label :"Number of Employee(s)"%><br />
    <%= f.text_field :cnoe %>
  </div>
     
  
  <br/>
   

     
     <div class="field">
    <%= f.label :"Year(s) in Business"%><br />
    <%= f.text_field :cyrsinbiz %>
  </div>
     
   
     
  <br/> 
   
  
   
   
      <div class="field">
    <%= f.label :"Facility Clearance"%><br />
    <%= f.text_field :cfclear %>
  </div>
   
   
    
   </div>
   
  
  </div>
   
   
 


<div class="snc">


<div id="naics_container"> 
<table class="ex2"> 
       <% (0..101).each do |i| %>       
	<tr>
        <td WIDTH="10%"><%= check_box_tag 'naics_ids[]', @ccls[i].ccftcode %></td> 
	<td WIDTH="20%"><%= @ccls[i].ccftcode %></td>
        <td WIDTH="70%"COLSPAN=0> <%= @ccls[i].ccft %></td>
        </tr>	
    <% end %>
</table>
</div> 
     
  

 <div class="placeholder">
 
 </div>





<div id="naics_container"> 
<table class="ex2"> 
       <% (0..1286).each do |i| %>       
	<tr>
        <td WIDTH="10%"><%= check_box_tag 'naics_ids[]', @naics[i].ncode %></td> 
	<td WIDTH="20%"><%= @naics[i].ncode %></td>
        <td WIDTH="70%"COLSPAN=0> <%= @naics[i].ngroup %></td>
        </tr>	
    <% end %>
</table>
</div>

<br/>

</div>

 

  
   <div class="actions">
    <%= f.submit %>
  </div>
  
  <% end %>
    


<div class="sch">
<%= form_for ccls_path, {:method => 'get', :remote=>true} do %>
    <%= submit_tag "Search", :name => nil %>
    <%= text_field_tag :search, params[:search] %>  
    <%= "for Naics Code" %>   
<% end %>  
</div>