<h1>Listing users</h1>

<table border=1>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>UserName</th>
    <th>State</th>
    <th>Email</th>
    <th>Last SignIn Date</th>    
    <th>Last SignIn Ip</th>
    <th>Confirmation Sent Date</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=user.firstname%></td>
    <td><%=user.lastname%></td>
    <td><%=user.username%></td>
    <td><%=user.state%></td>
    <td><%=user.email%></td>
    <td><% if user.last_sign_in_at.present? %><%=user.last_sign_in_at.strftime("%m-%d-%y")%><% end %></td>
    <td><% if user.last_sign_in_ip.present? %><%=user.last_sign_in_ip%><% end %></td>
    <td><% if user.confirmation_sent_at.present? %><%=user.confirmation_sent_at.strftime("%m-%d-%y at %H-%M")%><% end %></td>
    <td><%= link_to 'Edit', edit_user_registration_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method=>"delete" %></td>
  </tr>
<% end %>
</table>

<br />

