<%= form_for(@company) do |f| %>
  
  <div id="companies" >
  
  <div class="field">
    <%= f.label :"First Name" %><br />
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :"Last Name"%><br />
    <%= f.text_field :lname %>
  </div>   
   
   
    
    <div class="field">
    <%= f.label :"Company"%><br />
    <%= f.text_field :cname %>
  </div>
  
  <div class="field">
    <%= f.label :"Address"%><br />
     <%= f.text_area :caddress, :rows=>"3" %>
  </div>
  
  
    <div class="field">
    <%= f.label :"Phone Number"%><br/>
    <%= f.text_field :cphone%>
  </div>
  
    
   <div class="field">
    <%= f.label :"Email"%><br />
    <%= f.text_field :cemail %>
  </div>
  
  
   <div class="field">
    <%= f.label :"Website"%><br />
    <%= f.text_field :cwebsite %>
  </div>
  

   <div class="field">
    <%= f.label :"Year(s) in Business"%><br />
    <%= f.text_field :cyrsinbiz %>
  </div>
   
     <div class="field">
    <%= f.label :"Contracting Experience"%><br />
    <%= f.text_field :cexp %>
  </div>

   
     <div class="field">
    <%= f.label :"Number of Employee(s)"%><br />
    <%= f.text_field :cnoe %>
  </div>

    
    <div class="field">
    <%= f.label :"Facility Clearance"%><br />
    <%= f.text_field :cfclear %>
  </div>

    
  
  <div class="actions">
    <%= f.submit %>
  </div>
   
</div>
<% end %>

